{% extends 'base.html.twig' %}

{% block body %}

    <h1 id="competences">Mon CV</h1>
    <div class="text">
        <div id="logo_pdf">
            <a href="{{ asset('public/files/CV_Arnaud_Besnard.pdf') }}"><img src="{{ asset('public/img/logo_pdf.png') }}" alt="Logo PDF"/></a>
        </div>
        <div class="center">
            <a href="{{ asset('public/files/CV_Arnaud_Besnard.pdf') }}">Télécharger mon CV</a>
        </div>
        <br/>
        <div class="text_experience">
            <div class="center">
                <h2 class="cv">Mon experience :</h2>
            </div>
            <ul>
                <li class="cv"><strong>Février 2018 à aujourd'hui :</strong> Réalisation de plusieurs sites web utilisant des langages
                    			différents (HTML, CSS, Javascript, PHP, MySql), développement sur différents framework (Bootstrap, SASS, Symfony 3,
                    			Angular).</li>
                <li class="cv"><strong>Décembre 2011 à aujourd'hui :</strong> Pressier en flexographie dans une imprimerie, fabrication d'étiquettes
                    			adhésives</li>
                <li class="cv"><strong>Juillet 2011 à octobre 2011 :</strong> Saisonnier sapeur-pompier volontaire, centre de secours de Quiberon</li>
                <li class="cv"><strong>Octobre 2006 à juillet 2011 :</strong> Infographiste / Développeur / Assistant multimédia au service communication
                    			(État major des sapeurs-pompiers du Morbihan)</li>
            </ul>
            <hr/>
            <div class="center">
                <h2>Mes competences :</h2>
            </div>
            <ul>
                <li class="cv"><strong>Back-end :</strong>
                    <ul>
                        <li>Développement sites dynamiques - Langages PHP / MySQL</li>
                        <li>En cours de perfectionnement sur Symfony 3</li>
                    </ul>
                </li>
                <li class="cv"><strong>Frond-end :</strong>
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>Javascript et Jquery</li>
                        <li>Framework Bootstrap</li>
                        <li>Intégration de maquettes Web</li>
                    </ul>
                </li>
                <li class="cv"><strong>Autres</strong>
                    <ul>
                        <li>Développement de sites web sur plateforme CMS Wordpress</li>
                        <li>Modification et création de thèmes personnalisés</li>
                        <li>Utilisation de Git</li>
                        <li>Travail avec la méthode agile</li>
                    </ul>
                    <ul>
                        <li>Maitrise de logiciels de graphisme tels que Photoshop / Illustrator / Indesign</li>
                    </ul>
                </li>
            </ul>
            <hr/>
            <div class="center">
                <h2>Ma formation :</h2>
            </div>
            <ul>
                <li class="cv"><strong>Mai 2019 :</strong> Obtention d'un titre professionnel de développeur intégrateur d'applications Web - Diplôme de niveau III</li>
                <li class="cv"><strong>Depuis Août 2017 :</strong> Certificats de réussite cours HTML5/CSS3 - Intégration de maquettes web, PHP MySQL,
                    			Javascript, wordpress et Symfony 3.</li>
                <li class="cv"><strong>Septembre 2004 à juin 2006 :</strong> BTS Management des Unités Commerciales en alternance</li>
                <li class="cv"><strong>2000 - 2002 :</strong> Baccalauréat Génie Électrotechnique</li>
                <li class="cv"><strong>1998 - 2000 :</strong> BEP – CAP Génie Électrotechnique</li>
            </ul>
            <hr/>
            <div class="center">
                <h2>Loisirs :</h2>
            </div>
            <ul>
                <li class="cv">Informatique (veille, création de sites internet)</li>
                <li class="cv">Apprentissage de nouveaux langages informatique</li>
                <li class="cv">Pratique du vélo tout terrain</li>
                <li class="cv">Lecture</li>
                <li class="cv">Bricolage</li>
                <li class="cv">Pêche</li>
            </ul>
        </div>
    </div>

{% endblock %}
