{% extends 'base.html.twig' %}

{% block body %}

    <div class="contenu">
        <h1 class="ml3">Developpement</h1><br/><br/><br/>
        <h2 class="ml3">sites et applications web...</h2>
    </div>
    <div class="contenuPage">
    <p id="myName">Arnaud Besnard</p>
        <div id="aPropos">
            <h1>Qui suis-je ?</h1>
            <hr/>
            <div class="row">
                <div class="col-md-6">
                    <div class="photo"><img id="maPhoto" src="{{ asset('public/img/ArnaudBesnard.png') }}" alt="PhotoArnaudBesnard"/></div>
                    <h1>
                        <p id="titrePropos">" Developper, plus qu'un metier<br />une passion "
                        </h1>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="text">
                        Morbihannais d'adoption, passionné par le développement d'applications web et après 
                        une expérience de 6 ans dans la communication et 7 ans dans le domaine de l'imprimerie, 
                        j'ai décidé de me reconvertir et prendre une voie qui m'était destinée : 
                        le développement web.<br />
                        En effet, passionné depuis mon adolescence, j'ai toujours pris un grand plaisir à 
                        développer des sites web / applications sur divers projets personnels ou professionnels. 
                        C'est donc en toute logique que j'ai entamé en 2018 une formation de développeur 
                        intégrateur d'applications web. J'ai aujourd'hui terminé cette formation en obtenant mon 
                        diplôme.<br />Tout en étant en recherche d'emploi dans ce domaine, je vous propose mes services 
                        pour toutes créations de sites ou d'applications web. N'hésitez pas à consulter mes prestations 
                        ou à me contacter via le formulaire de contact !</div>
                </div>
            </div>
        </div>

    {% endblock %}
