{% extends 'base.html.twig' %}

{% block body %}
    <div class="contenu">
        <h1 class="ml3">Developpeur Symfony</h1>
    </div>
    <h1>Compétences</h1>
    <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at nisl sed justo facilisis eleifend non vitae est. Sed tincidunt libero id sollicitudin gravida. Praesent eleifend lectus gravida, vestibulum tortor vitae, tempor velit. Phasellus vel lorem in mauris dignissim viverra. Proin suscipit lectus sed dolor hendrerit aliquam. Integer eleifend orci in quam vestibulum, at blandit urna finibus. Sed ut dolor elit. Pellentesque ullamcorper turpis eu ipsum fringilla hendrerit. Nam mollis nec orci eget luctus.

        Cras lobortis turpis eget tellus cursus accumsan. Cras luctus venenatis dui, id elementum velit egestas at. Aenean sed odio nunc. Curabitur consectetur interdum malesuada. Aliquam vitae dolor massa. Quisque augue est, sodales in porta et, commodo eu augue. Proin dignissim purus eleifend, aliquet dolor id, rhoncus velit.
    </div>
{% endblock %}
