{% extends 'base.html.twig' %}

{% block body %}
<div class="contenu">
    <h1 class="ml3">Developpement</h1><br /><br /><br />
    <h2 class="ml3">sites et applications web...</h2>
</div>
<div class="contenuPage">
<div class="prestations">Vous avez un projet internet ? Création de site ou d'application, refonte d'un site web existant, site vitrine ou e-commerce, référencement, etc. ? 
Je suis à votre écoute afin d'étudier votre projet et vous proposer une solution personnalisée parfaitement adaptée à vos besoins.
    </div>
    <div id="aPropos">
        <h1>Qui suis-je ?</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="photo"><img id="maPhoto" src="{{ asset('public/img/ArnaudBesnard.png') }}" alt="PhotoArnaudBesnard" /></div>
            <h1>
                <p id="titrePropos">Développer, plus qu'un métier, une passion !
            </h1>
            </p>
        </div>
        <div class="col-md-6">
            <div class="text">
                Morbihannais d'adoption, et passionné par le développement et l'intégration
                web et après une expérience de 6 ans dans la communication et 7 ans dans le domaine de l'imprimerie,
                j'ai décidé de me reconvertir et prendre une voie qui m'était destinée : le développement web.<br />
                En effet, passionné depuis mon adolescence,
                j'ai toujours pris un grand plaisir à développer des sites web sur divers projets personnels et professionnels.
                C'est donc en toute logique que j'ai entamé en 2018 une formation de développeur intégrateur
                d'applications web en formation à distance avec OpenClassRooms.
                J'ai aujourd'hui terminé cette formation et je suis donc, logiquement à la recherche d'un poste de
                développeur et plus particulièrement dans le développement back end PHP ! Bonne visite et n'hésitez
                pas à me contacter via le formulaire de contact dispo dans le menu !</div>
        </div>
    </div>
</div>

{% endblock %}
