{% extends 'base.html.twig' %}

{% block body %}
<h1 id="realisations">Mes prestations</h1>
<div class="prestations">Vous avez un projet internet ? La création d'un site ou d'une application web, refonte et amélioration d'un site 
existant, site vitrine ou e-commerce, référencement, etc. ? Je suis à votre écoute afin d'étudier votre projet 
et vous proposer une solution personnalisée parfaitement adaptée à vos besoins et à vos exigences.<br />Je vous propose également
différentes formules pour vos projets basiques.
</div>
<div class="text">
    <div class="row">
        <div class="col-md-4" id="titre_presta">Formule A</div>
        <div class="col-md-4" id="titre_presta">Formule B</div>
        <div class="col-md-4" id="titre_presta">Formule C</div>
    </div>
</div>
{% endblock %}