{% extends 'base.html.twig' %}

{% block body %}
<h1 id="realisations">Mes réalisations</h1>
<div class="row">
    <div class="col-md-12">
        <div class="text">
                Au cours de ma formation, j'ai eu l'occasion de réaliser plusieurs sites en utilisant différents
                langages de programmation, vous trouverez sur cette page, mes différentes réalisations.
           
        </div>
    </div>
</div>
{% endblock %}