/*********************** GENERAL ***********************/
body {
    /*background-color:black;*/
    background-color:rgba(0, 0, 0, 0.90);
}
html {
    scroll-behavior: smooth;
  }
@font-face {
    font-family: 'Neon';
    src: url('../fonts/Neon Nanoborg.otf');
}
/*********************** HEADER ***********************/
.bg-dark {
    background-color: black !important;
}
.nav-link:hover{
    border-bottom: 2px solid orange;
}
/*********************** PAGES ***********************/
div:target {
    padding-top: 8em; 
    margin-top: -8em; 
}
h1{
    text-align:  center;
    color: #868686;
    margin-bottom: 25px;
}
h2{
    text-align: left;
    color: white;
    font-size: 22px;
}
hr{
    background-color: white;
    width:100%;
}
#myName{
    font-size: 3em;
    font-family: "Neon", serif;
    margin-left:50px;
}
#titrePropos{
     margin-top: 50px;
     
 }
#maPhoto{
    width: 150px;
    height: auto;
    overflow:hidden;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100x;
    margin-top: 30px;
}
.photo{
    width: 150px;
    margin: auto;
}
.contenuPage{
    width: 1024px;
    margin: auto;
}
#aPropos{
    margin-top:20px;
}
#competences, #realisations{
    margin-top: 140px;
}
.contenu{
    /*margin-top:100px;*/
    background-image: url("../img/background.png");
    background-size: cover;
    width:100%;
    height:700px;
}
.ml3{
    font-family: "Neon";
    color: white;
    font-weight: 300;
    font-size: 5em;
    position:absolute;
    width:100%;
    margin:auto;
    margin-top:280px;
}
.text{
    /*font-family: "neon";*/
    font-size: 16px;
    color:white;
    width:80%;
    margin:auto;
    text-align: justify;
}
.logosnav{
    width: 680px;
    margin:auto;

}
