/*********************** GENERAL ***********************/
html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    background-color: rgba(0, 0, 0, 0.90);
    color: white;
    margin: 0;
}

@font-face {
    font-family: 'Neon';
    src: url('../fonts/Neon Nanoborg.otf');
}

.center {
    text-align: center;
}

.text-right {
    text-align: right;
}

h1 {
    text-align: center;
    color: #868686;
    margin-bottom: 25px;

}

h2 {
    font-family: "Neon", serif;
    font-size: 2.5em;
    color: #334D5C;
}

h3 {
    text-align: center;
    font-size: 18px;
}

hr {
    background-color: white;
    width: 100%;
}

/*********************** HEADER ***********************/
#logo_responsive {
    display: none;
}

.bg-dark {
    /*background-color: black !important;*/
    background-color: rgba(0, 0, 0, 0.80) !important;
    border-bottom: 1px solid gray;
    /*border-top: 1px solid gray;
    margin-top: 30px;*/
}

.nav-link:hover {
    border-bottom: 1px solid #0091EA;
}

a.nav-link:hover {
    color: #0091EA !important;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

#logo {
    display: block;
    width: 250px;
    height: auto;
    margin-left: 30px;
}

#logoResponsive {
    display: none;
}

.header_social li {
    display: inline;
    list-style: none;
    margin-left: 20px;
}

/*********************** PAGES ***********************/
div:target {
    padding-top: 8em;
    margin-top: -8em;
}

.close {
    cursor: pointer;
    color: white !important;
}

.titre {
    text-align: center;
    color: black;
    font-size: 22px;
}

#myName {
    display: none;
    font-size: 2.5em;
    font-family: "Neon", serif;
    margin-left: 50px;
}

#myName:hover {
    border-bottom: 2px solid orange;
}

#titrePropos {
    margin-top: 50px;
    font-style: italic;
    font-family: "Neon", serif;
}

.prestations {
    /*font-family: "neon";*/
    font-size: 16px;
    color: gray;
    padding: 10px;
    width: 75%;
    margin: auto;
    text-align: justify;
    z-index: 999
}

.titre_presta {
    text-align: center;
    color: gray;
    font-weight: bold;
}

.text_presta {
    text-align: center;
    color: black;
}

#maPhoto {
    width: 150px;
    height: auto;
    overflow: hidden;
    border-radius: 100px;
    margin-top: 30px;
}

#logo_pdf {
    width: 85px;
    margin: auto;
}

.photo {
    width: 150px;
    margin: auto;
}

#contenuPage {
    width: 1024px;
    margin: auto;
}

#aPropos {
    margin-top: 20px;
}

#competences,
#realisations {
    margin-top: 140px;
}

.contenu {
    /*margin-top:100px;*/
    background-image: url("../img/background.png");
    background-size: cover;
    width: 100%;
    height: 700px;
}

.ml3 {
    font-family: "Neon";
    color: white;
    font-weight: 300;
    font-size: 5em;
    position: absolute;
    width: 100%;
    margin: auto;
    margin-top: 280px;
    text-align: center;
}

.text {
    font-size: 16px;
    color: black;
    background-color: lightgray;
    padding: 20px;
    width: 80%;
    margin: auto;
    text-align: justify;
    /*box-shadow: 8px 8px 8px rgb(102, 102, 102);*/
}

.black-background {
    /*font-family: "neon";*/
    font-size: 16px;
    color: white;
    /*background-color:black;*/
    padding: 20px;
    width: 80%;
    margin: auto;
    text-align: justify;
    /*box-shadow: 8px 8px 8px rgb(102, 102, 102);*/
}

.text-realisations {
    /*font-family: "neon";*/
    font-size: 16px;
    color: black;
    background-color: white;
    padding: 20px;
    width: 80%;
    margin: auto;
    text-align: justify;
}

.logosnav {
    width: 680px;
    margin: auto;
}

#logos_technos {
    display: block;
    width: 838px;
    margin: auto;
}

.projet {
    width: 300px;
    height: 198px;
}

footer {
    text-align: center;
}

.footer-copyright {
    color: white;
}

.pb-5,
.py-5 {
    padding-bottom: 1rem !important;
}

.cv {
    border-bottom: 1px solid #0091EA;
    width: 290px;
    margin: auto;
    margin-bottom: 20px;
}

.listcv {
    list-style-type: square;
}

strong {
    color: #1BA3B9;
}

/**********************************************************/
/************************RESPONSIVE************************/
/**********************************************************/

@media screen and (min-width: 319px) and (max-width: 769px) {

    #myName {
        display: block;
        font-size: 2.5em;
        font-family: "Neon", serif;
    }

    #logo {
        display: none;
        width: 250px;
        margin: auto;
        /*margin-left: 20px;*/
    }

    #logo_responsive {
        display: block;
        z-index: 999;
        position: fixed;
    }

    .contenu {
        display: none;
    }

    .contenuPage {
        margin-top: 100px;
        width: 90%;
    }

    #logos_technos {
        display: none;
    }

    #P1 {
        width: 200px;
        height: auto;
    }

    .text_experience {
        display: none;
    }

    .text {
        font-size: 14px;
        color: black;
        background-color: white;
        padding: 20px;
        width: 80%;
        margin: auto;
        text-align: left;
        /*box-shadow: 8px 8px 8px rgb(102, 102, 102);*/
    }

    #aPropos {
        margin-top: 20px;
    }
}